<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Shinobi mods</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="./assets/css/templatemo-softy-pinko.css">

    <link rel="stylesheet" type="text/css" href="./assets/css/custom.css">
    <!-- propeller -->
    <meta name="propeller" content="9916a21cd1a0d6462ef6ce3e1d43e047">
    

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <li>
                            <a href="#" class="logo" style="margin-top: 0px;">
                                Shinobi 
                                Youtuber
                            </a>
                        </li>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#mods" class="">Mods</a></li>
                            <li><a href="#aplicativos">Aplicativos</a></li>
                            <li><a href="#links">Ganhe Dinheiro</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">
        <div class="container">


        </div>
    </div>
    <!-- ***** Welcome Area End ***** -->
    
    <!-- ***** section mais baixados Start ***** -->

    <section class="section padding-top-70 padding-bottom-0" id="">
        <div class="container">
            <div class="row  section-grid">    
                <div id="mais-baixados-1" class="separador gradiente-1">
                    <h1>Mais Baixados</h1>
                </div>
            <div id="mais_baixados" class="container-post container">
                <!--  -->
                
            </div>
             <div class="container-side container">
                    <div id="ad-mais-baixados" class="container-ad container">
                        <h1>ANUNCIO</h1>
                    </div>
                <div class="container-mais-vistos container">

                </div>
            </div>
        </div>
        <div class="container-barra">
            <div class="barra_menu">
                <i class="gradiente-1"><a href="#/">1</a></i>
                <i class="gradiente-2"><a href="#/">2</a></i>
                <i class="gradiente-3"><a href="#/">3</a></i>
                <i class="gradiente-4"><a href="#/">4</a></i>
                <i class="gradiente-5"><a href="#/">5</a></i>
            </div>
        </div>
        </div>
    </section>

    <!-- ***** section mais baixados end ***** -->

    <!-- ***** section Start Mods   ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="">
        <div class="container">
            <div class="row  section-grid">    
                <div id="mods" class="separador gradiente-1">
                    <h1>Mods</h1>
                </div>
            <div id="mods_1" class="container-post container">
                <!--  -->
                
            </div>
             <div class="container-side container">
                    <div id="ad-mods" class="container-ad container">
                        <h1>ANUNCIO</h1>
                    </div>
                <div class="container-mais-vistos container">

                </div>
            </div>
        </div>
        <div class="container-barra">
            <div class="barra_menu">
                <i class="gradiente-1"><a href="#/">1</a></i>
                <i class="gradiente-2"><a href="#/">2</a></i>
                <i class="gradiente-3"><a href="#/">3</a></i>
                <i class="gradiente-4"><a href="#/">4</a></i>
                <i class="gradiente-5"><a href="#/">5</a></i>
            </div>
        </div>
        </div>
    </section>
    <!-- ***** section End ***** -->

    <!-- ***** section Start aplicativos ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="">
        <div class="container">
            <div class="row  section-grid">    
                <div id="aplicativos" class="separador gradiente-2">
                    <h1>Aplicativos</h1>
                </div>
            <div id="aplicativos_1" class="container-post container">

                

            </div>


             <div class="container-side container">
                    <div id="ad-aplicativos" class="container-ad container">
                        <h1>ANUNCIO</h1>
                    </div>
                <div class="container-mais-vistos container">

                </div>
            </div>
        </div>
        <div class="container-barra">
            <div class="barra_menu">
                <i class="gradiente-1"><a href="#/">1</a></i>
                <i class="gradiente-2"><a href="#/">2</a></i>
                <i class="gradiente-3"><a href="#/">3</a></i>
                <i class="gradiente-4"><a href="#/">4</a></i>
                <i class="gradiente-5"><a href="#/">5</a></i>
            </div>
        </div>
        </div>
    </section>
    <!-- ***** section End ***** -->

    <!-- ***** section Start links  ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row  section-grid">    
                <div id="links" class="separador gradiente-4">
                    <h1>Ganhe Dinheiro</h1>
                </div>
            <div id="links_1" class="container-post container">


            </div>
             <div id="ad-links" class="container-side container">
                    <div id="" class="container-ad container">
                        <h1>ANUNCIO</h1>
                    </div>
                <div class="container-mais-vistos container">

                </div>
            </div>
        </div>
        <div class="container-barra">
            <div class="barra_menu">
                <i class="gradiente-1"><a href="#/">1</a></i>
                <i class="gradiente-2"><a href="#/">2</a></i>
                <i class="gradiente-3"><a href="#/">3</a></i>
                <i class="gradiente-4"><a href="#/">4</a></i>
                <i class="gradiente-5"><a href="#/">5</a></i>
            </div>
        </div>
        </div>
    </section>
    <!-- ***** section End ***** -->
 
    <!-- ***** Footer Start ***** -->
    <footer id="footer">
        <div class="container container-footer">
            <div class="row">
                <div class="container" >
                    <div class="footer-container-text"> 
                        <h1>Sobre mim</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nihil iure facere ipsa velit aliquid magnam quaerat veniam eaque mollitia possimus deleniti, officia minima maiores doloremque illum, ducimus molestiae voluptate!</p> 
                    </div>
                    <div class="footer-container-contato">
                        <h1>Contato</h1>
                        <ul class="social">
                            <li>
                                <a href="#"> 
                                    <i class="fa fa-facebook"> </i>
                                </a>
                                www.facebook.com 
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCNr2O_Pvbffh4sJt9XcgW_g">
                                      <i class="fa-brands fa-youtube"></i>
                                 </a>
                                 Shinobi Youtube
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-envelope"></i>
                                </a>
                                Shinobi.mods@gmail.com
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright"><a href="https://rodrigosilva5.github.io/" target="_blank">Copyright &copy; 2022 Rodrigo Carvalho</a></p>
                </div>
            </div>
        </div>
    </footer>
  
    <!-- ejs -->
    <script src="assets/js/ejs.min.js"></script>

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

  </body>
</html>

