/*

Softy Pinko

https://templatemo.com/tm-535-softy-pinko

*/
/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. welcome
06. features
07. team
08. pricing
09. blog
10. contact
11. footer
12. preloader

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  /* background: linear-gradient(90deg, rgba(248, 108, 61, 0.645) 0%, rgba(195, 0, 0, 0.795) 100%); */

  font-family: "Raleway", sans-serif;
}

::selection {
  background: #ff589e;
  color: #fff;
}

::-moz-selection {
  background: #ff589e;
  color: #fff;
}

.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
}
.section::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
/* background */
  background: rgb(83,18,36);
  background: -moz-linear-gradient(130deg, rgba(83,18,36,1) 0%, rgba(123,18,48,1) 48%, rgba(248,66,42,1) 100%);
  background: -webkit-linear-gradient(130deg, rgba(83,18,36,1) 0%, rgba(123,18,48,1) 48%, rgba(248,66,42,1) 100%);
  background: linear-gradient(130deg, rgba(83,18,36,1) 0%, rgba(123,18,48,1) 48%, rgba(248,66,42,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#531224",endColorstr="#f8422a",GradientType=1); 
/* blur */
  background: url(../images/background.jpg) ;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.section.colored {
  background: #f2f2fe;
}

.hr {
  bottom: 0px;
  width: 100%;
  height: 1px;
  margin-top: 100px;
  border-bottom: 1px solid #eee;
}

.left-heading.light .section-title {
  color: #ffffff;
}

.left-heading .section-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 30px;
  position: relative;
}

.center-heading {
  text-align: center;
}

.center-heading .section-title {
  font-weight: 500;
  font-size: 28px;
  color: #1e1e1e;
  letter-spacing: 1.75px;
  line-height: 38px;
  margin-bottom: 20px;
}

.center-heading.colored .section-title {
  color: #ffffff;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text.colored {
  color: #fff;
}

.center-text p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
}

.left-text {
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
}

.left-text.light {
  color: #fff;
}

.left-text p {
  margin-bottom: 30px;
}

.left-text p.dark {
  color: #3B566E;
}

.padding-bottom-top-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.border-bottom {
  border-bottom: 1px solid #eee !important;
}

.mbottom-30 {
  margin-bottom: 30px !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-bottom {
  -ms-flex-item-align: flex-end !important;
  align-self: flex-end !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.padding-top-70 {
  padding-top: 70px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

a.main-button-slider {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #ff589e;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: #8261ee;
}

a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #ff589e;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: #ff589e;
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.header-area {
  position: fixed;
  top: 30px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-radius: 40px;
  min-height: 80px;
  background: #fff;
}

.header-area .main-nav .logo {
  color: white;
  text-shadow: 14px 10px 4px rgba(0,0,0,0.68);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 26px;
  font-weight: 400;
  float: left;
  margin-top: 37px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 30px;
}

.header-area .main-nav .logo li {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-area .main-nav{
  box-shadow: 6px 5px 16px 0px rgb(242,61,0);
  -webkit-box-shadow: 6px 5px 16px 0px rgb(242,61,0);
  -moz-box-shadow: 6px 5px 16px 0px rgb(242,61,0);
  background: linear-gradient(130deg, rgba(242,61,0,1) 0%, rgba(189, 14, 14, 0.719) 100%);
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-left: 0px;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  text-shadow: 3px 3px 4px rgba(0,0,0,0.68);
  padding-right: 30px;
  font-family: 'Poppins', sans-serif;
  display: block;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a:hover {
  color: white;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #3B566E;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #3B566E;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .logo {
  margin-top: 25px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a {
  color: white;
}

.header-area.header-sticky .nav li a.active {
  color: #ff589e;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-top: 27px !important;
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid rgba(242,61,0,1);
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: linear-gradient(130deg, rgba(242,61,0,1) 0%, rgba(189, 14, 14, 0.719) 100%);
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: linear-gradient(130deg, rgba(242,61,0,1) 0%, rgba(189, 14, 14, 0.719) 100%) !important;
    color: white !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: linear-gradient(130deg, rgb(238, 94, 46) 0%, rgba(181, 53, 53, 0.719) 100%) !important;
  }
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/
.welcome-area {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  /* background: rgb(255,250,250); */
   /* background: linear-gradient(90deg, rgb(186, 6, 39) 0%, rgba(207, 10, 53, 0.575) 48%, rgba(194, 21, 58, 0.493) 100%); */
  background: url(../images/background.jpg) ;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;

  height: 110vh;
}
/* background */
.welcome-area::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
/* background */
  background: rgb(83,18,36);
  background: -moz-linear-gradient(130deg, rgba(83,18,36,1) 0%, rgba(123,18,48,1) 48%, rgba(248,66,42,1) 100%);
  background: -webkit-linear-gradient(130deg, rgba(83,18,36,1) 0%, rgba(123,18,48,1) 48%, rgba(248,66,42,1) 100%);
  background: linear-gradient(130deg, rgba(83,18,36,1) 0%, rgba(123,18,48,1) 48%, rgba(248,66,42,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#531224",endColorstr="#f8422a",GradientType=1); 
/* blur */
  background: url(../images/background.jpg) ;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.welcome-area::before::after{
  content: '';
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
}
.welcome-area .container{
  margin-top: 140px ;
}
.welcome-area .block-post{
  margin-bottom: 3px;
}

@media (max-width: 991px) {
  .welcome-area {
    height: 225vh;
  }
  .welcome-area .container{
    margin-top: 200px ;
  }
 
}

@media (max-width: 820px) {

}



/* 
---------------------------------------------
BLOCK POST  
--------------------------------------------- 
*/

/* BLOCK POST - START  */
.size-large{
  width: 945px;
  height: 375px;
}
.size-normal{
  width: 630px;
  height: 250px;
}
.size-normal-vertical{
  width: 630px;
  height: 760px;
}
.block-post{
  cursor: pointer;
  display: flex;
  /* flex-direction: column; */
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /* padding: 30px; */
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-bottom: 30px;
}
.block-post .img {
  border-radius: 20px 0 0 20px;
  /* height: 300px; mobile */
  width: 50%;
  background-color: black;
}
.block-post .img i img{
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  /* background-size: cover; */
}
.block-post .text{
  border-radius: 20px;
  width: 50%;
  /*  */
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin: 15px 30px 5px 30px;
}
.block-post .text h1{
  /* margin: 15px 0 5px 30px; */
  font-size: 36px;
}
.block-post .text p{
  /* margin: 15px 0 5px 30px; */
  font-size: 10px;
}
.block-post .text div{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 5px;
}
.fa-star{
  color: #FFBE1D;
  font-size: 25px;
}

/* TAGS - START */
.tag{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  display: block;
  padding: 6px 25px 6px 25px;
  border-radius: 20px;
}
.tag-1{
  color: #E87188;
  background-color: #FEE9F8;
}
.tag-2{
  background-color: #fee68ec7;
  color: #FFBE1D;
}
.tag-3{
  color: #8D4793;
  background-color: #F7C9FF;
}
/* TAGS - END */
/* butôes - start */
.butão{
  width: 95%;
  height: 50px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
}
.butão-1{
  background: rgb(242,61,0);
  background: linear-gradient(130deg, rgba(242,61,0,1) 0%, rgba(195, 0, 0, 0.795) 100%); 
}
.butão-2{
  background-color: #1F0067;
  background: linear-gradient(130deg, #1F0067 0%, #4D00FF 100%); 
}
.butão-3{
  background: rgb(4,255,165);
  background: linear-gradient(130deg, rgba(4,255,165,1) 0%, rgba(87,189,152,1) 48%, rgba(0,176,113,1) 100%); 
}


/* butôes - end */
/* BLOCK POST - END  */

/* block-more-acess - start */
.block-more-acess{
  cursor: pointer;
  display: flex;
  /* flex-direction: column; */
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /* padding: 30px; */
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  z-index: 9;
}
.block-more-acess  .block-post{
  height: 250px;
  width: 630px !important;
  margin-bottom: 3px;
  /* overflow: hidden;s */
}
/* block-more-acess - end  */

/* separador start  */
.separador{
  color:white;
  border-radius: 50px 50px 0 20px ;
  text-align: left;
  width: 100%;
  margin-top: -35px; /*mesmo height do h1*/
  z-index: 1;
}
.separador h1{
  margin-left: 20px ;
}

/* separador end  */
/* gradiente  */
.gradiente-1{
  background: linear-gradient(130deg, rgba(242,61,0,1) 0%, rgba(189, 14, 14, 0.719) 100%);
}
.gradiente-2{
  background: rgb(186,6,39);
  background: -moz-linear-gradient(130deg, rgba(186,6,39,1) 0%, rgba(224,20,58,1) 48%, rgba(161,45,66,1) 100%);
  background: -webkit-linear-gradient(130deg, rgba(186,6,39,1) 0%, rgba(224,20,58,1) 48%, rgba(161,45,66,1) 100%);
  background: linear-gradient(130deg, rgba(186,6,39,1) 0%, rgba(224,20,58,1) 48%, rgba(161,45,66,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ba0627",endColorstr="#a12d42",GradientType=1);
}
.gradiente-3{
  background: rgb(186,6,39);
  background: -moz-linear-gradient(130deg, rgba(186,6,39,1) 0%, rgba(207,10,53,1) 48%, rgba(194,21,59,1) 100%);
  background: -webkit-linear-gradient(130deg, rgba(186,6,39,1) 0%, rgba(207,10,53,1) 48%, rgba(194,21,59,1) 100%);
  background: linear-gradient(130deg, rgba(186,6,39,1) 0%, rgba(207,10,53,1) 48%, rgba(194,21,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ba0627",endColorstr="#c2153b",GradientType=1); 
}
.gradiente-4{
  background: rgb(255,33,0);
  background: -moz-linear-gradient(130deg, rgba(255,33,0,1) 0%, rgba(226,64,40,1) 48%, rgba(196,62,41,1) 100%);
  background: -webkit-linear-gradient(130deg, rgba(255,33,0,1) 0%, rgba(226,64,40,1) 48%, rgba(196,62,41,1) 100%);
  background: linear-gradient(130deg, rgba(255,33,0,1) 0%, rgba(226,64,40,1) 48%, rgba(196,62,41,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff2100",endColorstr="#c43e29",GradientType=1); 
}
.gradiente-5{
  background: rgb(242,43,16);
  background: -moz-linear-gradient(130deg, rgba(242,43,16,1) 0%, rgba(240,76,55,1) 48%, rgba(248,66,42,1) 100%);
  background: -webkit-linear-gradient(130deg, rgba(242,43,16,1) 0%, rgba(240,76,55,1) 48%, rgba(248,66,42,1) 100%);
  background: linear-gradient(130deg, rgba(242,43,16,1) 0%, rgba(240,76,55,1) 48%, rgba(248,66,42,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f22b10",endColorstr="#f8422a",GradientType=1); 
}
/* media queries */

@media (max-width: 991px) {
  .size-large{
    height: 690px;
    width: 540px;
    flex-direction: column;

  }
  .size-normal{
    margin-left: 2vw;
    height: 60vh;
    width: 98%;
    flex-direction: column;
  }
  .size-normal-vertical{
    margin-left: 2vw;
    height: 500px;
    width: 240px;
  }

  .block-post .img{
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
  }
  .block-post .img i img{
    border-radius: 20px 20px 0 0;
  }
  .block-post .text{
    height: 50%;
    width: 100%;
    margin: 15px 30px 5px 5px;
  }
  .block-post .text p {
    margin-right: 5px;
  }
  .butão{
    width: 60%;
  }
  .block-more-acess{
    width: 100% !important;
    height: 760px !important;
  }
  .block-more-acess  .block-post{
    height: 250px !important;
    width: 100% !important; 
    margin-bottom: 3px !important;
  }
  .block-more-acess  .block-post .img, .block-more-acess  .block-post .img i img{
    height: 100% !important;
    border-radius: 20px 0px 0 20px;
  }
  .block-more-acess  .block-post .text{
    height: 100% !important;
  }
  .block-more-acess  .block-post .text{
    height: 100% !important;
  }
  .block-more-acess  .block-post p{
    height: 40% !important;
    font-size: 70% !important;
  }
  .block-more-acess  .block-post .text button{
    font-size: 90% !important;
    height: 15% !important;
  }
  .block-more-acess  .block-post .text h1 + div{
    display: inline;
  }
  .block-more-acess  .block-post .text h1 + div i{
    width: 50%;
  }
  .block-more-acess  .block-post .text h1 + div i+i{
    display: flex;
  }

  .butão{
    width: 60%;
    margin-left: 20%;
  }
}


@media (max-width: 500px ) {
  .size-large{
    margin-left: 2vw;
    min-height: 352px !important;
    min-width: 320px !important;
    height: 552px !important;
    width: 95% !important; 
  }
  .block-more-acess .block-post p{
    font-size: 50% !important;
    height: 35% !important;
  }
  
}
@media (max-width: 360px){
.block-post .img{
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
  }
  .block-post .img i img{
    border-radius: 20px 20px 0 0;
  }
  .block-post .text{
    height: 50%;
    width: 100%;
    margin: 15px 30px 5px 5px;
  }
  .block-post .text p {
    margin-right: 5px;
  }
  .butão{
    width: 60%;
  }
  .block-post .text p{
    /* margin: 15px 0 5px 30px; */
    font-size: 8px !important;

  }
  .block-more-acess  .block-post .text button{
    font-size: 87% !important;
    height: 14% !important;
    width: 78%  !important;
    margin-top: 15px !important;
  }
  .block-post .text h1 + div{
    margin-top: 10px !important;
    height: 20px !important;
  }
  .fa-star{
    font-size: 20px !important;
  }
  .block-post .text h1 + div i+{
    line-height: 0.5;
  }
  .block-post .text h1 + div i+i{
    display: flex;
  }
  .tag.tag-1{
      line-height: 0.5;
  }
  .butão{
    width: 40% !important;
    margin-left: 25% !important;
    height: 20% !important;
  }

  /* block more acess --------------------*/

  .block-more-acess{
    width: 100% !important;
    height: 760px !important;
  }
  .block-more-acess  .block-post{
    height: 240px !important;
    width: 100% !important; 
    margin-bottom: 3px !important;
  }
  .block-more-acess  .block-post .img, .block-more-acess  .block-post .img i img{
    height: 100% !important;
    border-radius: 20px 0px 0 20px;
  }
  .block-more-acess  .block-post .text{
    height: 100% !important;
  }
  .block-more-acess  .block-post .text h1{
    font-size: 215% !important;
  }
  .block-more-acess  .block-post p{
    height: 40% !important;
    font-size: 60% !important;
    width: 100% !important;
  }

}

@media (max-width: 300px){
  .block-more-acess  .block-post p{
    height: 40% !important;
    font-size: 48% !important;
    width: 100% !important;
  }
  .block-more-acess  .block-post .text h1{
    font-size: 168% !important;
  }
  .tag.tag-1{
    padding-left: 10px;
  }
}
/* section start */
.section-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 28px 1fr 1fr 20px;
  grid-template-areas: "separador separador" 
                        "container-post container-side"
                        "container-post container-side"
                        ;
}
.section-grid .separador{
  grid-area: separador;
}
.container-post{
  grid-area: container-post;
}
.container-side{
  grid-area: container-side;
  position: relative;
}
.container-ad{
  background-color: white;
  width: 90%;
  height: 50%;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
}
.container-mais-vistos{
    background-color: white;
    width: 90%;
    height: 50%;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
}
.container-barra{
  display: flex;
  justify-content: center;  
  width: 100%;
  height: 60px;
  grid-area: container-barra;
  position: relative;
}
.barra_menu{
  background-color: white;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  border-radius: 20px ;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.barra_menu i{
  cursor: pointer;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra_menu i a {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}


@media (max-width: 991px ){
  .section-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 28px 1fr 1fr 20px;
    grid-template-areas: "separador separador" 
                          "container-post container-post"
                          "container-side container-side"
                          "container-barra container-barra"
                          ;
  }
}
/* section end */


/* footer start  */
.container-footer{
  width: 70%;
  height: min-content;
  border-radius: 20px 20px 0 0;
  /* gradient */
  background: rgb(56,166,251);
  background: -moz-linear-gradient(108deg, rgba(56,166,251,1) 0%, rgba(63,186,255,1) 41%, rgba(147,230,255,1) 100%);
  background: -webkit-linear-gradient(108deg, rgba(56,166,251,1) 0%, rgba(63,186,255,1) 41%, rgba(147,230,255,1) 100%);
  background: linear-gradient(108deg, rgba(56,166,251,1) 0%, rgba(63,186,255,1) 41%, rgba(147,230,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#38a6fb",endColorstr="#93e6ff",GradientType=1); 
}

.container-footer .container{
  display: flex;
}
.footer-container-text{
  color: white;
  border-right: 2px solid rgba(250,250,250,0.2);
  width: 50%;
  font-family: 'Rubik', sans-serif;
}
.footer-container-text p{
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin: 10px 5px 5px;

}
.footer-container-contato{
  color: white;
  width: 50%;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
}

footer {
  padding-top: 30px;
}

footer .social {
  overflow: hidden;
  margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

footer .social li {
  margin: 0px 10px 10px;
  display: inline-block;
}

footer .social li a {
  color: black;
  text-align: center;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .social li a:hover {
  background-color: black;
  color: #fff;
}

footer .copyright {
  text-align: center;
  border-top: 1px solid rgba(250,250,250,0.2);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  cursor: pointer;
}
footer .copyright a{
  color: white;
}

@media (max-width: 991px) {
  .footer-container-text{
    margin-bottom: 30px;
  }
  .container-footer{
    width: 100%;
  }
  .container-footer .container{
    display: flex;
    flex-direction: column;
  }
  .footer-container-contato, .footer-container-text{
    width: 100%;
    text-align: center;
  }

}

/* footer end   */

/* border-top: 1px solid rgba(250,250,250,0.2); */

/* 
---------------------------------------------


.home-feature {
  padding-bottom: 0px;
  padding-top: 30px;
  margin-top: -220px;
  z-index: 9;
}

@media (max-width: 991px) {
  .home-feature {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }
}

/* 
---------------------------------------------
parallax & home seperator
--------------------------------------------- 
*/
.mini {
  min-height: 215px;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}

.mini:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: .95;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../images/work-process-bg.png);
  z-index: 2;
  top: -20%;
  left: -20%;
}

.mini .mini-content {
  position: relative;
  z-index: 3;
}

.mini .mini-content .info {
  text-align: center;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mini .mini-content .info small {
  display: block;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 5px;
}

.mini .mini-content .info strong {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 40px;
  display: block;
}

.mini .mini-content .info h1 {
  color: #fff;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.25px;
  margin-bottom: 30px;
}

.mini .mini-content .info p {
  letter-spacing: 1px;
  margin-bottom: 40px;
  color: #fff;
  letter-spacing: 0.25px;
  line-height: 26px;
  font-weight: 400;
  font-size: 15px;
}

.mini .mini-content .info p span {
  text-decoration: underline;
}

.mini .mini-content .mini-box {
  display: block;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.mini .mini-content .mini-box:hover {
  margin-top: -10px;
}

.mini .mini-content .mini-box:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: #fff;
  width: 100%;
  opacity: .15;
  height: 100%;
  bottom: -10px;
  left: 0px;
  right: -20px;
  margin: auto;
  border-radius: 20px;
}

.mini .mini-content .mini-box i {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.mini .mini-content .mini-box span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #777;
  letter-spacing: .75px;
}

.mini .mini-content .mini-box strong {
  display: block;
  font-weight: 400;
  font-size: 17px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.counter {
  overflow: hidden;
  position: relative;
}

.counter:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: .90;
  background-image: url(../images/fun-facts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  top: -20%;
  left: -20%;
}

.counter .content {
  position: relative;
  z-index: 3;
  width: 100%;
}

.counter .content .count-item {
  height: 340px;
  position: relative;
  float: left;
  width: 100%;
}

.counter .content .count-item.decoration-bottom {
  position: relative;
}

.counter .content .count-item.decoration-bottom:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 32px;
  top: 160px;
  left: 70%;
  background: url(../images/circle-dec.png) center center no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.counter .content .count-item.decoration-top {
  position: relative;
}

.counter .content .count-item.decoration-top:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 32px;
  top: 140px;
  left: 70%;
  background: url(../images/circle-dec.png) center center no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.counter .content .count-item:hover strong {
  margin-top: 110px;
}

.counter .content .count-item strong {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.25px;
  margin-bottom: 10px;
  color: #fff;
  margin-top: 120px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.counter .content .count-item span {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.25px;
}

@media (max-width: 991px) {
  .parallax {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: auto;
  }
  .parallax .content {
    position: relative !important;
    top: 0% !important;
    transform: perspective(1px) translateY(0%) !important;
  }
  .counter {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .counter .content {
    position: relative !important;
    top: 0% !important;
    transform: perspective(1px) translateY(0%) !important;
  }
  .counter .content .count-item {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .counter .content .count-item:hover strong {
    margin-top: 0px;
  }
  .counter .content .count-item:before {
    display: none;
  }
  .counter .content .count-item:after {
    display: none;
  }
  .counter .content .count-item strong {
    margin-top: 0px;
  }
}

/* 
---------------------------------------------
team
--------------------------------------------- 
*/
.team-item {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.team-item:hover .team-content .team-info {
  margin-left: 30px;
}

.team-item i {
  display: block;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 30px;
  color: #4E47DE;
  text-align: center;
}

.team-item .user-image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 25px;
  float: left;
}

.team-item .team-content {
  text-align: left;
  overflow: hidden;
}

.team-item .team-content .team-info {
  float: left;
  margin-left: 20px;
  margin-top: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.team-item .team-content .team-info .user-name {
  display: block;
  font-weight: 400;
  font-size: 17px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
}

.team-item .team-content .team-info span {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #ff589e;
  letter-spacing: 0.25px;
}

.team-item .team-content p {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 15px;
  color: #777;
  letter-spacing: 0.6px;
  line-height: 26px;
}

/* 
---------------------------------------------
pricing
--------------------------------------------- 
*/
.pricing-item {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 30px 0px 40px 0px;
}

.pricing-item.active .pricing-header {
  position: relative;
}

.pricing-item.active .pricing-header .pricing-title {
  color: #1e1e1e;
}

.pricing-item.active .pricing-body .price-wrapper {
  background-color: #ff589e;
}

.pricing-item.active .pricing-body .price-wrapper .currency {
  color: #fff;
}

.pricing-item.active .pricing-body .price-wrapper .price {
  color: #fff;
}

.pricing-item.active .pricing-body .price-wrapper .period {
  color: #fff;
}

.pricing-item .pricing-header {
  text-align: center;
  display: block;
  position: relative;
  padding-bottom: 10px;
}

.pricing-item .pricing-header .pricing-title {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.25px;
  color: #1e1e1e;
  width: 180px;
  height: 40px;
  line-height: 40px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.pricing-item .pricing-body {
  margin-bottom: 40px;
}

.pricing-item .pricing-body .price-wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 13px;
  background: #8261ee;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 5px;
  border-radius: 20px;
}

.pricing-item .pricing-body .price-wrapper .currency {
  height: 47px;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  position: relative;
  top: -1px;
}

.pricing-item .pricing-body .price-wrapper .price {
  font-weight: 500;
  font-size: 28px;
  color: #fff;
}

.pricing-item .pricing-body .price-wrapper .period {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: block;
  letter-spacing: 0.88px;
}

.pricing-item .pricing-body .list li {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 13px;
  color: #7a7a7a;
  letter-spacing: 0.25px;
  text-decoration: line-through;
}

.pricing-item .pricing-body .list li.active {
  color: #7a7a7a;
  text-decoration: none;
}

.pricing-item .pricing-footer {
  text-align: center;
  margin-top: 50px;
}

/* 
---------------------------------------------
blog
--------------------------------------------- 
*/
.blog-post-thumb {
  text-align: center;
  margin-bottom: 30px;
}

.blog-post-thumb.big .img {
  height: 400px;
}

.blog-post-thumb .img {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  height: 200px;
}

.blog-post-thumb .blog-content {
  margin-top: -30px;
  padding-top: 50px;
}

.blog-post-thumb h3 {
  margin-bottom: 20px !important;
}

.blog-post-thumb h3 a {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog-post-thumb h3 a:hover {
  color: #ff589e;
}

.blog-post-thumb .text {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.26px;
  line-height: 26px;
  margin-bottom: 15px;
}

.blog-post-thumb .post-footer span {
  float: left;
  height: 30px;
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  color: #777;
  padding-left: 30px;
}

.blog-post-thumb a.main-button  {
  margin-top: 10px;
  display: inline-block;
}

.blog-list .blog-post-thumb {
  text-align: left;
}


/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

#contact-us {
  padding: 160px 0px;
}

#contact-us h5 {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
}

.contact-text {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.6px;
  line-height: 26px;
}

.contact-text p {
  margin-bottom: 28px;
}

.contact-form input,
.contact-form textarea {
  color: #777;
  font-size: 14px;
  border: 1px solid #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
  position: absolute;
  overflow: hidden;
  background: rgb(247,63,39);
  background: -moz-linear-gradient(130deg, rgba(247,63,39,1) 0%, rgba(123,18,48,1) 48%, rgba(248,66,42,1) 100%);
  background: -webkit-linear-gradient(130deg, rgba(247,63,39,1) 0%, rgba(123,18,48,1) 48%, rgba(248,66,42,1) 100%);
  background: linear-gradient(130deg, rgba(247,63,39,1) 0%, rgba(123,18,48,1) 48%, rgba(248,66,42,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f73f27",endColorstr="#f8422a",GradientType=1); 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 99999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}