<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&amp;family=Rubik&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Pagina de post</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/assets/css/templatemo-softy-pinko.css">

    <link rel="stylesheet" href="/assets/css/post.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">

</head>
<body>
        <!-- ***** Preloader Start ***** -->
        <div id="preloader">
            <div class="jumper">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>  
        <!-- ***** Preloader End ***** -->

        
        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <!-- <li>
                                <a href="#" class="logo" style="margin-top: 0px;">
                                    SHINOBI<br>
                                    MODS
                                </a>
                            </li> -->
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li><a href="#mods" class="">Mods</a></li>
                                <li><a href="#aplicativos">Aplicativos</a></li>
                                <li><a href="#links">Links</a></li>
                            </ul>
                            <a class="menu-trigger">
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <!-- ***** Welcome-Area Start ***** -->
        <div class="welcome-area">
            <div class="img" id="img_banner"><img src="data:image/jpg;base64," alt="" srcset=""></div>
            <div class="text glass-effect">
                <h1 id="titulo"></h1>
                <p id="descrição_do_post"></p>
            </div>
            <div class="ad container-ad container">
                anuncio
            </div>
        </div><!-- ***** Section start  ***** --><section class="section padding-top-70 padding-bottom-0">
    <div class="container">
        <div class="row">
            <div class="container-content" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                
                
                

                <!-- img ou video 
                     texto 
                -->
            </div>
        </div>
    </div>
</section>


<!-- ***** Section end ***** -->
<!-- ***** Section start  ***** --><section class="section padding-top-70 padding-bottom-0">
    <div class="container">
        <div class="row">
            <div class="container-content" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                
                
                

                <!-- img ou video 
                     texto 
                -->
            </div>
        </div>
    </div>
</section>


<!-- ***** Section end ***** -->
<!-- ***** Section start  ***** --><section class="section padding-top-70 padding-bottom-0">
    <div class="container">
        <div class="row">
            <div class="container-content" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                
                
                

                <!-- img ou video 
                     texto 
                -->
            </div>
        </div>
    </div>
</section>


<!-- ***** Section end ***** -->

        <!-- ***** Welcome-Area End ***** -->
        
        <!-- ***** Section end ***** -->
        <section class="section padding-top-70 padding-bottom-0">
            <div class="container row width-100vw">
                <div class="container-download" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <!-- anuncio  -->
                    <div class="ad container-ad container">
                        anuncio
                    </div>
                    <!-- butao -->
                    <a id="link_btn_download" href="">
                        <button class="butão gradiente-3">DOWNLOAD</button>
                    </a>

                    <div class="ad container-ad container">
                        anuncio
                    </div>
                    <!-- anuncio -->
                </div>
            </div>
        </section>

        <div id="tag" style="display: none;"><div>cor1</div></div>
        <div style="display: none;" id="data">03/02/2022</div>
        

        <!-- ***** Footer Start ***** -->
        <footer style="position: relative;"> 
            <div class="container container-footer">
                <div class="row">
                    <div class="container">
                        <div class="footer-container-text"> 
                            <h1>Sobre mim</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nihil iure facere ipsa velit aliquid magnam quaerat veniam eaque mollitia possimus deleniti, officia minima maiores doloremque illum, ducimus molestiae voluptate!</p> 
                        </div>
                        <div class="footer-container-contato">
                            <h1>Contato</h1>
                            <ul class="social">
                                <li>
                                    <a href="#"> 
                                        <i class="fa fa-facebook"> </i>
                                    </a>
                                    www.facebook.com 
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCNr2O_Pvbffh4sJt9XcgW_g">
                                          <i class="fa-brands fa-youtube"></i>
                                     </a>
                                     Shinobi Youtube
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-solid fa-envelope"></i>
                                    </a>
                                    Shinobi.mods@gmail.com
                                </li>
                            </ul>
                        </div>
    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="copyright"><a href="https://rodrigosilva5.github.io/" target="_blank">Copyright © 2022 Rodrigo Carvalho</a></p>
                    </div>
                </div>
            </div>
        </footer>
    
        <!-- jQuery -->
        <script src="/assets/js/jquery-2.1.0.min.js"></script>

        <!-- Bootstrap -->
        <script src="/assets/js/popper.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
    
        <!-- Plugins -->
        <script src="/assets/js/scrollreveal.min.js"></script>
        <script src="/assets/js/waypoints.min.js"></script>
        <script src="/assets/js/jquery.counterup.min.js"></script>
        <script src="/assets/js/imgfix.min.js"></script> 
        
        <!-- Global Init -->
        <script src="/assets/js/custom.js"></script>
        <script src="/assets/js/personalizado.js"></script>


</body></html>